.top-brands{
    padding-top: 30px;
    

}

.top-brands-cover{
    height: 150px;
    width: 150px;
    border-radius: 10%;
    border-color: var(--primary-bg);
    box-shadow: var(--collection-shadow);
    border: 0.5px solid var(--border-white);
}

.top-brand-image{
    border-radius: inherit;  /* take border-radius to be 10% */
    height: 100%;
    width: 100%;
    object-fit: cover;
}