.delivery-item-cover{
    height: 190px;
    width: 260px;
    background-color: var(--primary-bg);
    box-shadow: var(--collection-shadow);
    border-radius: 8px;
}

.delivery-item-image{
    object-fit: cover;
    height: 100%;  /* equal to 190px height declared above*/
    width: 100%;
    border-radius: 8px;
}

.delivery-item-title{
    font-size: 20px;
    font-weight: 500;
    text-overflow: ellipsis;  /* means if the text is very long we wanna see 3 dots*/
    overflow: hidden;
    margin-top: 6px;
}